.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 3.5rem;
  background-color: var(--background);

  & .inner {
    flex: 1;
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-width);
    padding-top: 2.5rem;
    padding-bottom: 4rem;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: minmax(0, 1fr) 276px;
      gap: 1rem;
      padding-inline: 1rem;
    }

    @media (min-width: 1024px) {
      gap: 2rem;
    }
  }
}

.sidebar {
  padding-inline: 1rem;
}
