.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto;
  padding: 1rem 1rem 1.5rem;
  width: 100%;
  max-width: var(--max-width);
  color: var(--foreground-muted);
  transition: color 0.2s ease-in-out;

  & .externalLink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

    &:hover {
      color: var(--foreground);
    }
  }

  & .copyright {
    padding: 0.5rem;
    color: var(--foreground);
  }
}
