.menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 240px;
  height: 100dvh;
  padding: 1rem 0.5rem;
  background-color: var(--background);
  border-left: 1px solid var(--border);
  z-index: 200;

  & .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  & .categories {
    & a {
      display: inline-block;
      padding: 0.5rem;
      width: 100%;
      font-size: var(--font-size-sm);
    }
    & .active {
      font-weight: 700;
    }
  }
}
@media (min-width: 1024px) {
  .menu {
    display: none;
  }
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(var(--black-rgb), 0.7);
  backdrop-filter: blur(1px);
  z-index: 150;
}
@media (min-width: 1024px) {
  .backdrop {
    display: none;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-right: 8px;
  border: none;
  color: var(--foreground-muted);
}
@media (min-width: 1024px) {
  .button {
    display: none;
  }
}
