.title {
  font-weight: 700;
}
@media (min-width: 640px) {
  .title {
    display: block;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 0.75rem;
}

.link {
  padding: 0.25rem 0.5rem;
  font-size: var(--font-size-sm);
  white-space: nowrap;

  &.active {
    font-weight: 700;
  }
}
