.article {
  padding-inline: 1rem;

  @media (min-width: 768px) {
    padding-inline: 0;
  }

  & .author {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-block: 1.5rem;
  }

  & .tags {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}
