.categories {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;

  .categoryWrapper {
    border-bottom: 1px solid var(--border);

    .category {
      display: block;
      padding-block: 0.5rem;

      &:hover {
      }
    }
  }
}
