.accordion {
  display: grid;
  overflow: hidden;
  transition: grid-template-rows 0.3s ease;
  grid-template-rows: auto 0fr;
}
.accordion:has(> [data-accordion-title] input[type="checkbox"][data-accordion-trigger]:checked) {
  grid-template-rows: auto 1fr;
}

.title {
  position: relative;
  grid-column: 1;
  grid-row: 1;
}

.triggerWrap {
  display: block;
  padding: 1rem 2rem 1rem 0.5rem;
  cursor: pointer;
}
.trigger {
  display: none;
}

.accordion:has(input[type="checkbox"][data-accordion-trigger]:checked) [data-accordion-expand] {
  display: none;
}

.collapse {
  display: none;
}
.accordion:has(input[type="checkbox"][data-accordion-trigger]:checked) [data-accordion-collapse] {
  display: inline;
}

.content {
  visibility: hidden;
  grid-column: 1;
  grid-row: 2;
  min-height: 0;
  opacity: 0;
  transition:
    visibility 0.2s ease,
    opacity 0.2s ease,
    padding 0.2s ease;
}
.accordion:has(input[type="checkbox"][data-accordion-trigger]:checked) > [data-accordion-content] {
  visibility: visible;
  opacity: 1;
  padding-bottom: 8px;
}
