@layer components {
  .avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-full);
    border: 1px solid var(--border);
    object-fit: cover;
    overflow: hidden;
  }
}
