@layer components {
  .button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid transparent;
    font-size: 0.875rem;
    font-weight: 500;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .variant-default {
    background-color: var(--primary);
    color: var(--foreground-on-primary);
  }
  .variant-light {
    background-color: #0000000d;
  }
  .variant-outline {
    background-color: transparent;
    border-color: var(--border);
  }
  .variant-ghost {
    background-color: transparent;
    &:hover {
      background-color: #0000000d;
    }
  }

  .size-sm {
    height: 2rem;
    padding-inline: 0.75rem;
    font-size: 0.75rem;
  }
  .size-md {
    height: 2.25rem;
    padding-inline: 1rem;
    font-size: 1rem;
  }
  .size-lg {
    height: 2.5rem;
    padding-inline: 1.5rem;
    font-size: 1.125rem;
  }

  .rounded-sm {
    border-radius: var(--border-radius-sm);
  }
  .rounded-md {
    border-radius: var(--border-radius-md);
  }
  .rounded-lg {
    border-radius: var(--border-radius-lg);
  }
  .rounded-full {
    border-radius: var(--border-radius-full);
  }
}
