/**
 * https://playbook.ebay.com/foundations/typography/using-type-in-digital
 */

@layer components {
  .body {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0;
  }

  .caption {
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0;
  }

  .signal-1 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.05em;
  }

  .signal-2 {
    font-size: 0.625rem;
    line-height: 0.75rem;
    letter-spacing: 0.05em;
  }

  .light {
    font-weight: 300;
  }

  .regular {
    font-weight: 400;
  }

  .medium {
    font-weight: 500;
  }

  .semibold {
    font-weight: 600;
  }

  .bold {
    font-weight: 700;
  }
}
